.error-indicator {
  position: relative;
  right: 10px;
  justify-content: flex-end;
  border-radius: 50%;
  background-color: grey;
  height: 30px;
  width: 30px;
  filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .7));
  text-align: center
}

.health-sign-svg {
  margin-top: 6px;
  height: 20px;
  width: 20px;
}