.save-button {
  position: relative;
  width: 70px;
  height: 35px;
  color: white;
  background-color: #00A0DE;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  border-radius: 5px; 
  box-shadow: 1px 1px 1px grey;
  transition: 200ms;
}

.save-button:hover {
  background-color: #00bbff;
}

.save-dashboard {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 60px;
  margin-right: 20px;
  top: 20px;
  width: 120px;
}

.sweet-loading {
  position: relative;
  margin-left: 12px;
  line-height: 45px;
  transition: 200ms;
}