.main-content {
  display: relative;
	width: 100%;
	height: calc(100vh - 78px);
	background-color: #ECECEC;
  overflow: scroll;
}

.container {
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

